@import './people';
@import './calendar';
@import './tutorial';
@import './topic';


h1, h2 {
    color: crimson;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoPCM {
    margin-right: 10px;
}

h4 {
    color: black;
    background-color: gold;
    margin-top: 5px;
}

p {
    color: black;
    font-size: large;

}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin: 0;
    &:hover {
        color: crimson;
    }
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

.tab {
    display:inline-block; 
   margin-left: 40px;

}

.uptext {
    display:inline-block; 
    margin-bottom: 40px;
}

.linksResources {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    &:hover {
        color: crimson;
    }
}

.resourcesDiv {
    display: flex;
    flex-direction: row;
}

.resourcesItems {
    margin-right: 200px;
}

.bottomText {
    border-top: 2px solid crimson;
    text-align: center;
    font-size: small;
    color: black;
    span {
        margin: 0px;
    }
}

.link {
    text-decoration: underline;
    color: inherit;
    &:hover {
        color: crimson;
    }
}