h1, h2 {
    color: crimson;
}

h4 {
    color: black;
    background-color: gold;
    margin-top: 5px;
}

p {
    color: black;
    font-family: console;
    font-size: x-large;

}

nav ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li { display: inline; margin-right: 40px; }
