* {
    box-sizing: border-box;
}

@import './people';
@import './calendar';
@import './tutorial';
@import './topic';


h1, h2 {
    color: crimson;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoPCM {
    margin-right: 10px;
}

h4 {
    color: black;
    background-color: gold;
    margin-top: 5px;
}

p {
    color: black;
    font-size: large;
    text-align: justify;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    list-style: none;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
}

nav ul li {
    margin: 0px;
    padding: 0px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

.tab {
    display:inline-block; 
   margin-left: 40px;

}

.uptext {
    display:inline-block; 
    margin-bottom: 40px;
}

.link {
    text-decoration: underline;
    color: inherit;
    &:hover {
        color: crimson;
    }
}

.markdown {
    p a {
        text-decoration: underline;
        color: inherit;
        &:hover {
            color: crimson;
        }
    }
    div ul li a {
        text-decoration: underline;
        color: inherit;
        &:hover {
            color: crimson;
        }
    }

    div ul li blockquote p {
        padding: 10px;
        border: 2px solid crimson;
        background-color: #FFE2E9;
    }

    div ul li p img {
        align-self: center;
    }


}


.link-bold {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    &:hover {
        color: crimson;
    }
}

.resourcesDiv {
    display: flex;
    flex-direction: row;
}

.resourcesItems {
    margin-right: 200px;
}

.bottomText {
    vertical-align: bottom;
    border-top: 2px solid black;
    text-align: center;
    font-size: small;
    color: black;
    div {
        margin: 0px;
    }
}

.logo-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.link-logo-and-name-pcm {
    margin: 0px;
    &:hover {
        filter: drop-shadow(0px 0px 10px crimson)
    }
}

.logo-pcm {
    width: 72px;
    height: 72px;
    margin: 0px;
}

.name-pcm {
    margin: 0px;
    margin-left: 10px;
}