.ulTopics {
    list-style: none;
}

.topic {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    align-items: center;
    border-radius: 10px;
    &:hover {
        border: 2px solid crimson;
    };
}

.topic--image--div {
    padding: 20px;
}

.topic--image {
    width: 500px;
    padding: 10px;
}


.topic--info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    width: 1500px;
}

.topic--in-charge {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topic--abstract {
    text-align: justify;
}

.topic--in-charge div span {
    margin-left: 15px;
}

.divUpcomingPast {
    display: flex;
    flex-direction: column;
    text-align: right;
}