.ulTutorials {
    list-style: none;
}

.calendar {
    list-style: none;
}

.tutorial {
    display: flex;
    flex-direction: row;
}

.tutorial--venue, .tutorial--info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

.tutorial--venue {
    align-items: flex-end;
    border-right: 2px solid crimson;
    margin-right: 20px;
    min-width: 280px;
}

.tutorial--in-charge {
    display: flex;
    flex-direction: row;
}

.tutorial--in-charge div span {
    margin-right: 15px;
}


.divUpcomingPast {
    display: flex;
    flex-direction: column;
    text-align: right;
}


.logos-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}