.ulTutorials {
    list-style: none;
}

.calendar {
    list-style: none;
}

.tutorial {
    display: flex;
    flex-direction: row;
}

.tutorial--venue, .tutorial--info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

.tutorial--venue {
    align-items: flex-end;
    border-right: 2px solid crimson;
    margin-right: 20px;
    min-width: 280px;
}

.tutorial--in-charge {
    display: flex;
    flex-direction: row;
}

.tutorial--in-charge div span {
    margin-right: 15px;
    a {
        text-decoration: underline;
        color: inherit;
        &:hover {
            color: crimson;
      }
    }
}

.markdown {
    p a {
        text-decoration: underline;
        color: inherit;
        &:hover {
            color: crimson;
        }
    }
}

.divUpcomingPast {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.linkUpcomingPast, .tutorial--title {
    text-decoration: underline;
    color: inherit;
    &:hover {
        color: crimson;
    }
}